<p class="input-group">
					<span class="input-group-btn mgis-input-group-date">
						<input
								type="text"
								class="form-control"
								datepicker-popup="{{format}}"
								ng-model="value"
								is-open="opened"
								datepicker-options="dateOptions"
								date-disabled="disabled(date, mode)"
								ng-click="open($event)"
								ng-change="valueChangedInternal()"
								close-text="{{'Calendar.Done'|translate}}"
								clear-text="{{'Calendar.Clear'|translate}}"
								current-text="{{'Calendar.Today'|translate}}"
								min-date="minDate"
								max-date="maxDate"
                                name="{{name}}"
                                ng-required="{{required}}"
								/>
						<button class="btn btn-default" ng-click="open($event)"><i
								class="glyphicon glyphicon-calendar"></i></button>
					</span>
</p>

