<div class="form-group row" ng-class="{'has-error': form[name].$invalid && form[name].$touched}">
	<div class="col-sm-4">
		<label translate>{{title}}</label><span class="mgis-field-required" ng-if="required || pattern">*</span>
	</div>

	<div class="col-sm-8">
		<p class="input-group" ng-controller="MGISDateTimeController">
                <span class="input-group-btn mgis-input-group-date">
                    <input
							type="text"
							class="form-control"
							name="{{name}}"
							datepicker-popup="{{format}}"
							ng-model="item.value"
							is-open="opened"
							datepicker-options="dateOptions"
							date-disabled="disabled(date, mode)"
							ng-click="open($event)"
							ng-change="dateChanged()"
							ng-required="required"
							close-text="{{'Calendar.Done'|translate}}"
							clear-text="{{'Calendar.Clear'|translate}}"
							current-text="{{'Calendar.Today'|translate}}"
                            min-date="minDate"
                            max-date="maxDate"/>
                    <button class="btn btn-default " ng-click="open($event)"><i class="glyphicon glyphicon-calendar"></i>
					</button>
                </span>
		</p>
		<p ng-show="form[name].$invalid && form[name].$touched" class="help-block" translate>FieldInvalid</p>
	</div>
</div>
