<div class="form-group row">
	<div class="col-sm-4">
		<label translate>{{title}}</label>
	</div>

	<div class="col-sm-8">
		<p class="input-group" ng-controller="MGISDateTimeController">
                <span class="input-group-btn mgis-input-group-date">
                    <input
							type="text"
							class="form-control"
							name="docDate"
							datepicker-popup="{{format}}"
							ng-model="item.value"
							is-open="opened"
							datepicker-options="dateOptions"
							date-disabled="disabled(date, mode)"
							close-text="{{Close|translate}}"
							ng-click="open($event)"
							ng-change="dateChanged()"
							/>
                    <button class="btn btn-default " ng-click="open($event)"><i class="glyphicon glyphicon-calendar"></i>
					</button>
                </span>
		</p>
	</div>
</div>
