<div class="form-group row" ng-class="{'has-error': form[name].$invalid}">
	<div class="col-sm-4">
		<label translate>{{title}}</label><span class="mgis-field-required" ng-if="required">*</span>
	</div>
	<div class="col-sm-8">
		<p class="input-group input-group-sm">
			<multiselect
					ng-model="property"
					options="{{options}}"
					data-multiple="false"
					data-compare-by="id"
					scroll-after-rows="15"
					ms-header="{{'Select'|translate}}">
			</multiselect>
			<span ng-if="!required &amp;&amp; property" class="select2-search-choice-close ng-scope" ng-click="emptyValue()"
				  style="z-index: 2;"></span>
			<input type="hidden" name="{{name}}" ng-model="property__flag" ng-required="required"/>
		</p>
		<p ng-show="form[name].$invalid" class="help-block" translate>FieldInvalid</p>
	</div>
</div>
