<div class="modal-header">
	<h3 class="modal-title"><span translate>CapitalConstructs.Construct.ConstructiveElement.Types</span>: {{item.description}}</h3>
</div>

<div class="modal-body">
	<div class="panel-body">
		<div ng-repeat="listItem in pager.list" class="row" style="padding-bottom: 7px;">
			<div class="col-sm-5">{{listItem.name}}</div>
			<div class="col-sm-7">
				<button class="btn btn-sm btn-primary" ng-click="select(listItem)" translate>Select</button>
				<button class="btn btn-sm btn-warning" ng-click="edit(listItem.id)" translate>Edit</button>
				<button class="btn btn-sm btn-danger" ng-click="remove(listItem.id)" translate>Remove</button>
			</div>
		</div>
		<pagination total-items="pager.totalNumberOfItems" ng-model="pager0.currentPage"
					items-per-page="pager0.itemsPerPage" ng-change="pageChanged()"
					class="pagination-sm" previous-text="&lsaquo;"
					next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;"></pagination>
		<div>
			<button class="btn btn-sm btn-info" ng-click="add()" translate>Add</button>
		</div>
	</div>
</div>

<div class="modal-footer">
	<button type="button" class="btn btn-default" ng-click="cancel()" translate>Cancel</button>
</div>
