<div class="container-fluid">
	<div ng-if="errors.length>0">
		<div class="alert alert-danger small row">
			<div class="col-sm-8">
				<strong translate>Errors.Total</strong> <strong>{{errors.length}}</strong><br/>
				<span translate>Errors.Last</span> {{errors[errors.length-1].status}}: {{errors[errors.length-1].statusText}}
			</div>
			<div class="col-sm-4 pull-right">
				<button type="button" class="btn btn-danger" ng-click="showErrors()" translate>Errors.Show</button>
			</div>
		</div>

	</div>
</div>
