<div class="modal-header">
    <h3 class="modal-title">
        <span translate>ISOGD.Book</span>: {{book.name}}
    </h3>
</div>
<div class="modal-body">
    <div class="container">
        <div class="row">
            <div class="col-sm-6">
                <form name="bookForm" ng-submit="saveBook()" novalidate>
                    <div class="form-group" ng-class="{ 'has-error' : bookForm.name.$invalid && !bookForm.name.$pristine }">
                        <label translate>ISOGD.Name</label> <input type="text" name="name" class="form-control" ng-model="book.name" required>

                        <p ng-show="bookForm.name.$invalid && !bookForm.name.$pristine" class="help-block" translate>ISOGD.NameRequired</p>
                    </div>
                    <!-- DOCUMENT_SUB_OBJECT -->
                    <div class="form-group"
                         ng-class="{ 'has-error' : bookForm.documentObject2.$invalid }">
                        <label translate>ISOGD.Classifiers.Documents.Object.Name</label>
                        <br/>
                        <multiselect
                                ng-model="book.documentObject"
                                options="c.name for c in availableDocumentObjects"
                                data-multiple="false"
                                data-compare-by="id"
                                scroll-after-rows="15">
                        </multiselect>
                        <input type="hidden" ng-model="book.documentObject.id" name="documentObject2" required/>

                        <p ng-show="!book.documentObject.id" class="help-block" translate>
                            ISOGD.Classifiers.Documents.Object.Required</p>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<div class="modal-footer">
    <button type="submit" class="btn btn-primary" ng-disabled="bookForm.$invalid" ng-click="ok()" translate>Submit</button>
    <button type="button" class="btn btn-default" ng-click="cancel()" translate>Cancel</button>
</div>
