<div ng-controller="AddressController">
	<h3 translate>Addresses</h3>

	<div ng-repeat="item in addressPager.list" class="row" style="padding-bottom: 7px;">
		<div class="col-sm-8">
			<address-as-string address="{{item}}"></address-as-string>
		</div>
		<div class="col-sm-4">
			<button class="btn btn-info btn-sm" ng-click="editItem(item.id)" translate>Edit</button>
			<button class="btn btn-danger btn-sm" ng-click="deleteItem(item.id)" translate>Delete</button>
		</div>
	</div>

	<pagination total-items="addressPager.totalNumberOfItems" ng-model="currentPage"
				items-per-page="itemsPerPage" ng-change="pageChanged()"
				class="pagination-sm" previous-text="&lsaquo;"
				next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;"></pagination>

	<div>
		<button class="btn btn-info btn-sm" ng-click="addItem()" translate>Add</button>
	</div>
</div>
