<span>
	<span ng-if="address.subject">[{{address.id}}] {{address.subject.name}} {{address.subject.socr}}</span>
	<span ng-if="address.locality">, {{address.locality.socr}} {{address.locality.name}}</span>
	<span ng-if="address.street">, {{address.street.socr}} {{address.street.name}}</span>
	<span ng-if="address.home">, <span translate>Address.Home.Short</span> {{address.home}}</span>
	<span ng-if="address.housing">, <span translate>Address.Housing.Short</span> {{address.housing}}</span>
	<span ng-if="address.building">, <span translate>Address.Building.Short</span> {{address.building}}</span>
	<span ng-if="address.apartment">, <span translate>Address.Apartment.Short</span> {{address.apartment}}</span>
</span>
