<div ng-controller="AddressController">
	<h3 translate>Addresses</h3>

	<div ng-repeat="address in addressPager.list" class="row">
		<div class="col-sm-1">{{address.id}}</div>
		<div class="col-sm-2">{{address.okato}}</div>
		<div class="col-sm-2">{{address.kladr}}</div>
		<div class="col-sm-2">{{address.oktmo}}</div>
		<div class="col-sm-1">***</div>
		<div class="col-sm-4">
			<button class="btn btn-info btn-sm" ng-click="editItem(item.id)" translate>Edit</button>
			<button class="btn btn-danger btn-sm" ng-click="deleteItem(item.id)" translate>Delete</button>
		</div>
	</div>

	<pagination total-items="addressPager.totalNumberOfItems" ng-model="currentPage"
				items-per-page="itemsPerPage" ng-change="pageChanged()"
				class="pagination-sm" previous-text="&lsaquo;"
				next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;"></pagination>

	<div>
		<button class="btn btn-info btn-sm" ng-click="addItem()" translate>Add</button>
	</div>
</div>
