<h2>ISOGD</h2>

<ol class="breadcrumb">
	<li><a href="#">Home</a></li>
	<li><a href="#">Library</a></li>
	<li class="active">Data</li>
</ol>
<!--<accordion close-others="true">-->
	<!--<accordion-group heading="{{section.id}} {{section.name}}" ng-repeat="section in sections"-->
					 <!--is-open="sectionIsOpen" ng-controller="ISOGDSectionCtrl">-->
		<!--<a ui-sref=".sections.edit({sectionId:section.id})" class="btn btn-warning">Edit: {{section.id}} {{section.name}}</a>-->
		<!--<a ui-sref=".volumes.list({sectionId:section.id})" class="btn btn-warning">List Volumes</a>-->
	 	<!--This content is straight in the template.-->
		<!--<div ng-repeat="volume1 in volumes1">-->
			<!--{{volume1}}-->
		<!--</div>-->
	 	<div ui-view></div>
<!--
		<accordion close-others="true">
			<accordion-group heading="{{volume.id}} {{volume.name}}" ng-repeat="volume in volumes(section.id)">
				<a ui-sref=".volume/{{volume.id}}">{{volume.id}} {{volume.name}}</a>

				<accordion close-others="true">
					<accordion-group heading="{{book.id}} {{book.name}}" ng-repeat="book in books(volume.id)">
						<a href="">{{book.id}} {{book.name}}</a>
						<div ng-repeat="document in documents(book.id)"><a href="">{{document.id}} {{document.name}}</a></div>

					  <p style="float: right">
						<button class="btn btn-info btn-sm" ng-click="addDocument(book.id)">Add a New Document</button>
					    <button class="btn btn-info btn-sm" ng-click="editBook(book.id)">Edit The Book</button>
					    <button class="btn btn-warning btn-sm" ng-click="removeBook(book.id)">Delete The Book</button>
					  </p>
					</accordion-group>
				</accordion>

			  <p style="float: right">
				<button class="btn btn-info btn-sm" ng-click="addBook(volume.id)">Add a New Book</button>
			    <button class="btn btn-info btn-sm" ng-click="editVolume(volume.id)">Edit The Volume</button>
			    <button class="btn btn-warning btn-sm" ng-click="removeVolume(volume.id)">Delete The Volume</button>
			  </p>
			</accordion-group>
		</accordion>
-->
	  <!--<p style="float: right">-->
		<!--<button class="btn btn-info btn-sm" ng-click="addVolume(section.id)">Add a New Volume</button>-->
	    <!--<button class="btn btn-info btn-sm" ng-click="editSection(section.id)">Edit The Section</button>-->
	    <!--<button class="btn btn-warning btn-sm" ng-click="removeSection(section.id)" confirm-click="Would you like to say hi?" confirmed-click="removeSection(section.id)">Delete The Section</button>-->
	    <!--<button class="btn btn-warning btn-sm" ng-click="removeSection(section.id)">Delete The Section</button>-->
	  <!--</p>-->
	<!--</accordion-group>-->
<!--</accordion>-->
 <!--<p style="float: right">-->
   <!--<button class="btn btn-info btn-sm" ng-click="addSection()">Add a New Section</button>-->
 <!--</p>-->
