<div>
	<div class="modal-header">
		<h3 class="modal-title"><span translate>Address.Selector</span>: {{address.name}}</h3>
	</div>
	<div class="modal-body" ng-controller="AddressSelectController">

		<div>
			<form name="searchForm" class="form-horizontal">
				<div class="control-group">
					<label for="name" translate>Name</label>

					<div class="controls form-inline">
						<input type="text" id="name" name="name" ng-model="name" class="form-control" ng-change="find(name)"/>
						<button class="btn btn-sm btn-primary" ng-click="find(name)" translate>Find</button>
						<button class="btn btn-sm btn-info" ng-click="add()" translate>Add</button>
					</div>
				</div>
			</form>
		</div>

		<div>
			<div>
				<div ng-repeat="item in addressPager.list" class="row" style="padding-bottom: 7px;">
					<div class="col-sm-7">
						{{item|addressFormatter}}
					</div>
					<div class="col-sm-5">
						<button class="btn btn-sm btn-primary" ng-click="select(item)" translate>Select</button>
						<button class="btn btn-sm btn-info" ng-click="edit(item.id)" translate>Edit</button>
						<button class="btn btn-sm btn-danger" ng-click="remove(item.id)" translate>Remove</button>
					</div>
				</div>
			</div>

			<pagination total-items="addressPager.totalNumberOfItems" ng-model="currentPage"
						items-per-page="itemsPerPage" ng-change="pageChanged()"
						class="pagination-sm" previous-text="&lsaquo;"
						next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;"></pagination>
		</div>
	</div>
</div>

<div class="modal-footer">
	<button type="button" class="btn btn-default" ng-click="cancel()" translate>Cancel</button>
</div>

