<div ng-controller="MGISUploadFileController"
     ng-init="init('rest/isogd/documents/uploadDocumentContent', {}, specialPartUploadProgress, specialPartUploadComplete)">
    watching model:
    <div class="button" ngf-select ng-model="files">Upload using model $watch</div>
    <div class="button" ngf-select ngf-change="upload($files)">Upload on file change</div>
    Drop File:
    <div ngf-drop ng-model="files" class="drop-box"
         ngf-drag-over-class="dragover" ngf-multiple="true" ngf-allow-dir="true"
         ngf-accept="'image/*,application/pdf'">Drop Images or PDFs files here
    </div>
    <div ngf-no-file-drop>File Drag/Drop is not supported for this browser</div>

    Image thumbnail: <img ngf-src="files[0]" ngf-default-src="thumb.jpg" ngf-accept="'image/*'">
</div>
