stateParams: {{stateParams}}
<div ng-repeat="document in documents">
	<a
		ui-sref="isogd.documents.edit({
	sectionId:stateParams.sectionId,
	volumeId:stateParams.volumeId,
	bookId:stateParams.bookId,
	documentId:document.id})">{{document.id}}
		{{document.name}}</a>

	<div style="padding: 5px 15px;">
		<button class="btn btn-info btn-sm" ng-click="editDocument(stateParams.bookId, document.id)">Edit Document</button>
		<button class="btn btn-warning btn-sm" ng-click="removeDocument(stateParams.bookId)">Delete The Book</button>
	</div>

</div>

<p style="float: right">
	<button class="btn btn-info btn-sm" ng-click="addDocument(stateParams.bookId)">Add a New Document</button>
</p>