<div ng-controller="MGISUploadFileController"
     ng-init="init('rest/isogd/documents/uploadDocumentContent', {}, specialPartUploadProgress, specialPartUploadComplete)">
    <div ng-repeat="content in document.specialPart.documentContents">
        <div class="col-sm-8">
            <img src="rest/isogd/documents/{{document.id}}/specialPart/documentContentPreview/{{content.id}}"/>{{content.fileName}}
        </div>
        <div class="col-sm-4">
            <button class="btn btn-info btn-sm" ng-click="removeSpecialContent(document.id, content.id)" translate>Remove</button>
        </div>
    </div>
    <div ngf-drop ng-model="files" class="drop-box"
         ngf-drag-over-class="dragover" ngf-multiple="true" ngf-allow-dir="true"
         ngf-accept="'image/*,application/pdf'">Drop Images or PDFs files here
    </div>
    <div ngf-no-file-drop>File Drag/Drop is not supported for this browser</div>

    Image thumbnail: <img ngf-src="files[0]" ngf-default-src="thumb.jpg" ngf-accept="'image/*'">
</div>
