<div class="modal-header">
    <h3 class="modal-title">
        <span translate>ISOGD.Document</span>: {{document.name}}
    </h3>
</div>
<div class="modal-body">
    <div class="container">
        <div class="row">
            <div class="col-sm-6">
                <form name="documentForm" ng-submit="saveDocument()" novalidate>
                    <!-- NAME -->
                    <div class="form-group" ng-class="{ 'has-error' : documentForm.name.$invalid && !documentForm.name.$pristine }">
                        <label translate>ISOGD.Name</label> <input type="text" name="name" class="form-control" ng-model="document.name" required>

                        <p ng-show="documentForm.name.$invalid && !documentForm.name.$pristine" class="help-block" translate>ISOGD.NameRequired</p>
                    </div>
                    <!-- DOCUMENT_CLASS -->
                    <div class="form-group"
                         ng-class="{ 'has-error' : documentForm.documentSubObject.$invalid && !documentForm.documentSubObject.$pristine }">
                        <label translate>ISOGD.Classifiers.Documents.SubObject.Name</label> <input type="text" name="documentSubObject"
                                                                                                   class="form-control"
                                                                                                   ng-model="document.documentSubObject">

                        <p ng-show="documentForm.documentSubObject.$invalid && !documentForm.documentSubObject.$pristine" class="help-block"
                           translate>
                            ISOGD.NameRequired</p>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<div class="modal-footer">
    <button type="submit" class="btn btn-primary" ng-disabled="documentForm.$invalid" ng-click="ok()" translate>Submit</button>
    <button type="button" class="btn btn-default" ng-click="cancel()" translate>Cancel</button>
</div>
