<div class="modal-header">
	<h3 class="modal-title">
		<span translate>ISOGD.Document</span>: {{document.name}}
	</h3>
</div>
<div class="modal-body">
	<form name="documentForm" novalidate>
		<!-- NAME -->
		<commons-forms-text form="documentForm" name="name" property="document.name" title="ISOGD.Name" required="true"
							validation-message="ISOGD.NameRequired"></commons-forms-text>
		<!-- DOC_DATE -->
		<commons-forms-date form="documentForm" name="docDate" property="document.docDate" title="ISOGD.Document.DocDate" required="true"
							validation-message="ISOGD.DocDateRequired"></commons-forms-date>
		<!-- DOC_NUMBER -->
		<commons-forms-text form="documentForm" name="docNumber" property="document.docNumber" title="ISOGD.Document.DocNumber" required="true"
							validation-message="ISOGD.DocNumberRequired"></commons-forms-text>
		<!-- DOCUMENT_AUTHOR -->
		<div class="form-group row">
			<div class="col-sm-4">
				<label translate>ISOGD.Document.Author</label>
			</div>

			<div class="col-sm-8">
				<person-selector person="document.author"/>
			</div>
		</div>
		<!-- DOCUMENT_SUB_OBJECT -->
		<commons-forms-drop-down form="documentForm" name="documentSubObject" property="document.documentSubObject"
								 title="ISOGD.Classifiers.Documents.SubObject.Name" required="true"
								 available-elements="availableDocumentSubObjects"
								 validation-message="ISOGD.Classifiers.Documents.SubObject.Required"></commons-forms-drop-down>

		<accordion close-others="oneAtATime">
			<accordion-group is-open="commonPartTab.open">
				<accordion-heading>
					<span translate>ISOGD.Classifiers.Documents.Class.CommonPart</span>
					<i class="pull-right glyphicon"
					   ng-class="{'glyphicon-chevron-down': commonPartTab.open, 'glyphicon-chevron-right': !commonPartTab.open}"></i>
				</accordion-heading>
				<div ng-include="'app2/isogd/document/isogd-document-form-common-content.htm'"></div>
			</accordion-group>
			<accordion-group is-open="specialPartTab.open">
				<accordion-heading>
					<span translate>ISOGD.Classifiers.Documents.Class.SpecialPart</span>
					<i class="pull-right glyphicon"
					   ng-class="{'glyphicon-chevron-down': specialPartTab.open, 'glyphicon-chevron-right': !specialPartTab.open}"></i>
				</accordion-heading>
				<div ng-include="'app2/isogd/document/isogd-document-form-special-content.htm'"></div>
			</accordion-group>
		</accordion>


	</form>

</div>
<div class="modal-footer">
	<button type="submit" class="btn btn-primary" ng-disabled="documentForm.$invalid" ng-click="ok()" translate>Submit
	</button>
	<button type="button" class="btn btn-default" ng-click="cancel()" translate>Cancel</button>
</div>
