.slicknav_menu {
}

/*
 * http://stackoverflow.com/questions/18023493/bootstrap-3-dropdown-sub-menu-missing
 */

.dropdown-submenu {
	position: relative;
}

.dropdown-submenu > .dropdown-menu {
	top: 0;
	left: 100%;
}

.dropdown-submenu:hover > .dropdown-menu {
	display: block;
}

.dropdown-submenu > a:after {
	/*display: block;*/
	content: " ";
	float: right;
	/*width: 0;*/
	/*height: 0;*/
	border-color: transparent;
	border-style: solid;
	border-width: 5px 0 5px 5px;
	border-left-color: #cccccc;
	margin-top: 7px;
	margin-right: -10px;
}

.dropdown-submenu:hover > a:after {
}

.dropdown-submenu.pull-left {
}

.dropdown-submenu.pull-left > .dropdown-menu {
	left: -100%;
}

/*
*/

.treeview .list-group-item {
	padding-right: 0px;
}

.treeview .list-group-item table {
	width: 100%;
	margin-bottom: 7px;
}

.treeview .list-group-item table td:last-child {
	text-align: left;
	width: 450px;
	padding: 3px;
	white-space: nowrap;
}

.treeview .treeview table td:last-child {
	text-align: left;
	width: 450px;
	padding: 3px;
	white-space: nowrap;
}

.treeview .treeview .treeview table td:last-child {
	text-align: left;
	width: 450px;
	padding: 3px;
	white-space: nowrap;
}

/* Upload buttons */
.drop-box {
	background: #f8f8f8 none repeat scroll 0 0;
	border: 3px dashed #ddd;
	float: left;
	margin-left: 10px;
	margin-top: 5px;
	padding-top: 5px;
	text-align: center;
	width: 100px;
}

.up-buttons {
	float: left;
}

.drop-box.dragover {
	border: 5px dashed blue;
}

.drop-box.dragover-err {
	border: 5px dashed red;
}

/* */
.mgis-document-content .mgis-content-list-region div div {
	padding-bottom: 5px;
}

.mgis-document-content .mgis-content-preview img {
	max-height: 48px;
}

.mgis-document-content .mgis-content-buttons {
	white-space: nowrap;
}

.mgis-document-content .mgis-content-list-region {
	float: left;
}

.mgis-document-content .mgis-content-list-region > div {
	width: 700px;
}

.mgis-document-content .mgis-content-upload-region {
	float: right;
}

span.mgis-input-group-date input {
	width: 190px !important;
}

span.mgis-input-group-date button {
	height: 34px !important;
}

.modal-backdrop {
	opacity: 0.2;
}

.mgis-document-selector-list {
	list-style-type: none;
	padding-bottom: 3px;
	padding-top: 3px;
}

.mgis-document-selector-list-item {
	padding-bottom: 3px;
	padding-top: 3px;
}

.mgis-top-right-search-form {
	position: relative;
	top: -60px;
	height: 0px;
}

.geo-map-layer-group {
	border-radius: 4px;
	padding-left: 0;
}

.geo-map-layer-item {
	position: relative;
	display: block;
	padding: 10px 0px 0px 15px;
	margin-bottom: -1px;
}

.geo-map-layer-item .panel {
	margin-bottom: 0px;
}

.geo-map-layer-item .panel-body {
	padding: 5px 5px 5px 15px;
}

/* disabling bootstrap modal animation
 * http://stackoverflow.com/questions/18873428/turn-off-animation-modal-angular-ui
 */

.modal.fade {
	opacity: 1;
}

.modal.fade .modal-dialog, .modal.in .modal-dialog {
	-webkit-transform: translate(0, 0);
	-ms-transform: translate(0, 0);
	transform: translate(0, 0);
}

.mgis-grid-row {
	padding: 2px;
}

.release-notes-note {
	padding: 8px 15px 5px 10px;
	border-radius: 5px;
}

.bg-primary.release-notes-note {
	margin-top: 3px;
}

.release-notes-task {
	padding: 1px 1px 1px 10px;
	opacity: 0.5;
}

.release-notes-release-label {
	padding: 0px 5px 0px 5px;
	vertical-align: super;
	font-size: xx-small;
	color: white;
	-webkit-box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.25);
	-moz-box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.25);
	box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.25);
	border-radius: 6px;
	background-color: chocolate;
	margin: 3px 3px 3px 3px;
}

.bg-primary.release-notes-note .release-notes-note-label {
	padding: 0px 5px 0px 5px;
	vertical-align: super;
	font-size: xx-small;
	color: white;
	-webkit-box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.25);
	-moz-box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.25);
	box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.25);
	border-radius: 6px;
	background-color: cadetblue;
}

.release-notes-note .release-notes-note-label {
	padding: 0px 5px 0px 5px;
	vertical-align: super;
	font-size: xx-small;
	color: darkgray;
	-webkit-box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.1);
	-moz-box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.1);
	box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.1);
	border-radius: 6px;
	background-color: white;
	margin: 5px 5px 5px 5px;
}

/* selection mark */
.mgis-row-selected {
	background-color: yellowgreen;
}

.mgis-row-header {
	text-transform: uppercase;
	font-weight: bold;

}

multiselect button.btn {
	white-space: normal !important;
}

.mgis-field-required {
	color: red;
}

.mgis-time-spent-label {
	font-size: xx-small;
	color: darkgray;
}

.mgis-pagination-total-label {
	margin: 25px 0px 0px 15px;
	vertical-align: top;
}

.mgis-main-panel a {
	width: 100%;
	padding: 5%;
}

.mgis-main-panel div div div {
	p-adding: 5px 5px 5px 5px;
	padding: .5% .5% .5% .5%;
}
