<form>
	<div class="control-group">
		<div class="controls form-inline row">
			<div class="col-sm-8">
				<input type="text" class="form-control pull-right" style="width:100%" ng-model="searchText" ng-change="searchClick()"/>
			</div>
			<div class="col-sm-4">
				<button class="btn btn-sm btn-info" ng-click="extendedSearchClick()" translate>ExtendedSearch</button>
				<button class="btn btn-sm btn-info" ng-click="resetSearchClick()" ng-if="searchText" translate>ResetSearch</button>
			</div>
		</div>
	</div>
</form>
