<div class="modal-header">
	<h3 class="modal-title"><span translate>Settings.GIS.Server</span>: {{item.code}}</h3>
</div>

<div class="modal-body">

	<form name="gisServerForm" class="" novalidate>
		<div class="form-group row"
			 ng-class="{'has-error': gisServerForm.code.$invalid && (!gisServerForm.code.$pristine || gisServerForm.code.$touched)}">
			<div class="col-sm-4">
				<label translate>Code</label>
			</div>
			<div class="col-sm-8">
				<input type="text" class="form-control" ng-model="item.code" required/>

				<p ng-show="gisServerForm.code.$invalid && (!gisServerForm.code.$pristine || gisServerForm.code.$touched)" class="help-block"
				   translate>Code.Required</p>
			</div>
		</div>

		<div class="form-group row"
			 ng-class="{'has-error': gisServerForm.url.$invalid && (!gisServerForm.code.$pristine || gisServerForm.url.$touched)}">
			<div class="col-sm-4">
				<label translate>URL</label>
			</div>
			<div class="col-sm-8">
				<input type="text" class="form-control" ng-model="item.url" required/>

				<p ng-show="gisServerForm.url.$invalid && (!gisServerForm.url.$pristine || gisServerForm.url.$touched)" class="help-block"
				   translate>URL.Required</p>
			</div>
		</div>
	</form>

</div>

<div class="modal-footer">
	<button type="submit" class="btn btn-primary" ng-disabled="landForm.$invalid" ng-click="ok()" translate>Submit</button>
	<button type="button" class="btn btn-default" ng-click="cancel()" translate>Cancel</button>
</div>
