<div class="panel panel-default">
	<div class="panel-heading">
		<h3 translate>IndividualEntrepreneur</h3>
	</div>
	<div class="panel-body">

		<div class="form-group row">
			<div class="col-sm-4"><label translate>IndividualEntrepreneur.RegistrationNumber</label></div>
			<div class="col-sm-8"><input type="text" class="form-control" ng-model="item.individualEntrepreneurRegNum"/></div>
		</div>

		<div class="form-group row">
			<div class="col-sm-4"><label translate>OGRN</label></div>
			<div class="col-sm-8"><input type="text" class="form-control" ng-model="item.ogrn"/></div>
		</div>

		<div class="form-group row">
			<div class="col-sm-4"><label translate>ActivityType</label></div>
			<div class="col-sm-8">
				<ui-select ng-model="item.activityType" theme="select2" style="width: 450px;">
					<ui-select-match placeholder="">{{item.activityType.name}}</ui-select-match>
					<ui-select-choices repeat="okved in availableActivityTypes | filter: {name: $select.search}"
									   refresh="refreshAvailableActivityTypes($select.search)"
									   refresh-delay="0">
						{{okved.name}} ({{okved.code}})
					</ui-select-choices>
				</ui-select>
			</div>
		</div>

		<div class="form-group row">
			<div class="col-sm-4"><label translate>GRN</label></div>
			<div class="col-sm-8"><input type="text" class="form-control" ng-model="item.grn"/></div>
		</div>

		<div class="form-group row">
			<div class="col-sm-4"><label translate>IndividualEntrepreneur.EGRIPInitialDate</label></div>
			<div class="col-sm-8">
				<p class="input-group" ng-controller="MGISDateTimeController">
								<span class="input-group-btn mgis-input-group-date">
									<input
											type="text"
											class="form-control"
											datepicker-popup="{{format}}"
											ng-model="item.egripInitialDate"
											is-open="opened"
											datepicker-options="dateOptions"
											date-disabled="disabled(date, mode)"
											close-text="{{Close|translate}}"
											ng-click="open($event)"
											/>
									<button class="btn btn-default " ng-click="open($event)"><i class="glyphicon glyphicon-calendar"></i></button>
								</span>
				</p>
			</div>
		</div>

		<div class="form-group row">
			<div class="col-sm-4"><label translate>IndividualEntrepreneur.RegistrationDate</label></div>
			<div class="col-sm-8">
				<p class="input-group" ng-controller="MGISDateTimeController">
								<span class="input-group-btn mgis-input-group-date">
									<input
											type="text"
											class="form-control"
											datepicker-popup="{{format}}"
											ng-model="item.registrationDate"
											is-open="opened"
											datepicker-options="dateOptions"
											date-disabled="disabled(date, mode)"
											close-text="{{Close|translate}}"
											ng-click="open($event)"
											/>
									<button class="btn btn-default " ng-click="open($event)"><i class="glyphicon glyphicon-calendar"></i></button>
								</span>
				</p>
			</div>
		</div>

		<div class="form-group row">
			<div class="col-sm-4"><label translate>IndividualEntrepreneur.IssueDate</label></div>
			<div class="col-sm-8">
				<p class="input-group" ng-controller="MGISDateTimeController">
								<span class="input-group-btn mgis-input-group-date">
									<input
											type="text"
											class="form-control"
											datepicker-popup="{{format}}"
											ng-model="item.issueDate"
											is-open="opened"
											datepicker-options="dateOptions"
											date-disabled="disabled(date, mode)"
											close-text="{{Close|translate}}"
											ng-click="open($event)"
											/>
									<button class="btn btn-default " ng-click="open($event)"><i class="glyphicon glyphicon-calendar"></i></button>
								</span>
				</p>
			</div>
		</div>

	</div>
</div>
