<div class="panel panel-default">
	<div class="panel-heading">
		<h3 translate>GeneralInfo</h3>
	</div>
	<div class="panel-body">

		<commons-forms-text form="naturalPersonForm" name="surname" property="item.surname"
							title="NaturalPerson.Surname" required="true"
				></commons-forms-text>

		<commons-forms-text form="naturalPersonForm" name="firstName" property="item.firstName"
							title="NaturalPerson.FirstName" required="true"
				></commons-forms-text>

		<commons-forms-text form="naturalPersonForm" name="patronymic" property="item.patronymic"
							title="NaturalPerson.Patronymic"
				></commons-forms-text>

		<!-- DateOfBirth -->
		<commons-forms-date form="naturalPersonForm" name="dateOfBirth" property="item.dateOfBirth"
							title="DateOfBirth"></commons-forms-date>
		<!-- INN -->
		<div class="form-group row">
			<div class="col-sm-4"><label translate>INN</label></div>
			<div class="col-sm-8"><input type="text" class="form-control" ng-model="item.inn"/></div>
		</div>

		<!-- SNILS -->
		<div class="form-group row">
			<div class="col-sm-4"><label translate>SNILS</label></div>
			<div class="col-sm-8"><input type="text" class="form-control" ng-model="item.snils"/></div>
		</div>

		<!-- PHONE -->
		<div class="form-group row">
			<div class="col-sm-4"><label translate>PHONE</label></div>
			<div class="col-sm-8"><input type="text" class="form-control" ng-model="item.phone"/></div>
		</div>

		<!-- EMAIL -->
		<div class="form-group row">
			<div class="col-sm-4"><label translate>Email</label></div>
			<div class="col-sm-8"><input type="text" class="form-control" ng-model="item.email"/></div>
		</div>


		<!-- ActualAddress -->
		<div class="form-group row">
			<div class="col-sm-4"><label translate>ActualAddress</label></div>
			<div class="col-sm-8">
				<address-selector address="item.actualAddress"></address-selector>
			</div>
		</div>

		<!-- LegalAddress -->
		<div class="form-group row">
			<div class="col-sm-4"><label translate>LegalAddress</label></div>
			<div class="col-sm-8">
				<address-selector address="item.legalAddress"></address-selector>
			</div>
		</div>

	</div>
</div>
