<div>
	<div class="modal-header">
		<h3 class="modal-title"><span translate>NaturalPerson</span>: {{item.name + " " + item.surname + " " + item.patronymic}}</h3>
	</div>
	<div class="modal-body">
		<form name="naturalPersonForm">
			<tabset>
				<tab>
					<tab-heading>
						<span translate>GeneralInfo</span>
					</tab-heading>
					<div ng-include src="'app2/persons/natural-person/natural-person-general-info.htm'"></div>
				</tab>
				<tab>
					<tab-heading>
						<span translate>Document.Identity.Data</span>
					</tab-heading>
					<div ng-include src="'app2/persons/natural-person/natural-person-passport.htm'"></div>
				</tab>
				<tab>
					<tab-heading>
						<span translate>IndividualEntrepreneur</span>
					</tab-heading>
					<div ng-include src="'app2/persons/natural-person/natural-person-individual-entrepreneur.htm'"></div>
				</tab>
			</tabset>

		</form>
	</div>
</div>
<div class="modal-footer">
	<button type="submit" class="btn btn-primary" ng-disabled="naturalPersonForm.$invalid" ng-click="ok()" translate>Submit</button>
	<button type="button" class="btn btn-default" ng-click="cancel()" translate>Cancel</button>
</div>
