<div class="navbar navbar-default" ng-controller="MainMenuCtrl">
	<div class="navbar-inner">
		<div class="container-fluid">
			<a class="navbar-brand" href="#" ng-click="toggleNavCollapsed()" class="btn btn-navbar" translate>MGIS</a>
			<!-- Note: use "collapse" here. The original "data-" settings are not needed anymore. -->
			<div collapse="navCollapsed" class="nav-collapse collapse navbar-responsive-collapse">
				<ul class="nav navbar-nav">
					<li ng-class="{'dropdown': true, 'menu-item': true, 'active': isogdMenuActive}"><a href="#isogd" data-toggle="dropdown" role="button"
						aria-expanded="false" ng-click="isogdMenuClicked()"><span translate>ISOGD</span> <span class="caret"></span></a>
						<ul class="dropdown-menu" role="menu">
							<li><a href="#/isogd" translate>ISOGD.Sections</a></li>
							<li class="menu-item dropdown dropdown-submenu"><a href="#/isogd/classifiers"><span translate>ISOGD.Classifiers</span></a>
								<ul class="dropdown-menu">
									<li class="menu-item"><a ui-sref="isogd.classifiers.doctypes()" translate>ISOGD.Classifiers.Documents.Types</a></li>
									<li class="menu-item"><a ui-sref="isogd.classifiers.docrepresentations()" translate>ISOGD.Classifiers.DocumentRepresentations</a></li>
									<li class="menu-item"><a ui-sref="isogd.classifiers.docstructure()" translate>ISOGD.Classifiers.Documents.Structure</a></li>
								</ul></li>
						</ul></li>
					<li ng-class="{'dropdown': true, 'menu-item': true, 'active': landsMenuActive}"><a href="#/lands" ng-click="landsMenuClicked()">
						<span translate>LANDS</span> <span class="caret"></span></a>
					</li>
					<li ng-class="{'dropdown': true, 'menu-item': true, 'active': oksMenuActive}">
						<a href="#/oks" ng-click="oksMenuClicked()"><span translate>OKS</span> <span class="caret"></span></a>
					</li>
					<li ng-class="{'dropdown': true, 'menu-item': true, 'active': administrationMenuActive}">
						<a href="#/admin" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false" ng-click="administrationMenuClicked()"><span translate>ADMINISTRATION</span> <span class="caret"></span></a>
						<ul class="dropdown-menu" role="menu">
							<li><a href="#/admin/users" translate>ADMINISTRATION.Users</a></li>
							<li><a href="#/admin/groups" translate>ADMINISTRATION.Groups</a></li>
							<li class="divider"></li>
							<li><a href="#/admin/privileges" translate>ADMINISTRATION.Privileges</a></li>
						</ul></li>
				</ul>

				<ul class="nav navbar-nav navbar-right">
					<li><a href="/logout" translate>Logout</a></li>
				</ul>
			</div>
			<!-- /.nav-collapse -->
		</div>
		<!-- /.container -->
	</div>
	<!-- /navbar-inner -->
</div>
<!-- /navbar -->
