<div class="navbar navbar-default" ng-controller="MainMenuCtrl">
	<div class="navbar-inner">
		<div class="container-fluid">
			<div class="navbar-responsive-collapse">
				<ul class="nav navbar-nav">
					<li>
						<a class="navbar-brand" href="#" ng-click="toggleNavCollapsed()" class="btn btn-navbar" translate>MGIS</a>
					</li>
				</ul>
				<ul class="nav navbar-nav">
					<li ng-class="{'dropdown': true, 'menu-item': true, 'active': menuStates.isogd}">
						<a href="#/isogd" data-toggle="dropdown" role="button" aria-expanded="false" ng-click="updateMenu('isogd')">
							<span translate>ISOGD</span>
							<span class="caret"></span>
						</a>
						<ul class="dropdown-menu" role="menu">
							<li><a href="#/isogd/structure/" translate>ISOGD.Sections</a></li>
							<li class="menu-item dropdown dropdown-submenu"><a href="#/isogd/classifiers"><span translate>ISOGD.Classifiers</span></a>
								<ul class="dropdown-menu">
									<li class="menu-item"><a ui-sref="isogd.classifiers.doctypes()" translate>ISOGD.Classifiers.Documents.Types</a>
									</li>
									<li class="menu-item"><a ui-sref="isogd.classifiers.docrepresentations()" translate>ISOGD.Classifiers.DocumentRepresentations</a>
									</li>
									<li class="menu-item"><a ui-sref="isogd.classifiers.docstructure()" translate>ISOGD.Classifiers.Documents.Structure</a>
									</li>
								</ul>
							</li>
						</ul>
					</li>
					<li ng-class="{'dropdown': true, 'menu-item': true, 'active': menuStates.land}">
						<a href="#/lands" ng-click="updateMenu('land')"><span translate>LANDS</span></a>
					</li>
					<!--<li ng-class="{'dropdown': true, 'menu-item': true, 'active': menuStates.terrZone}">-->
					<!--<a href="#/terr-zones" ng-click="updateMenu('terrZone')"><span translate>TERRITORIAL_ZONES</span></a>-->
					<!--</li>-->
					<li ng-class="{'dropdown': true, 'menu-item': true, 'active': menuStates.persons}">
						<a href="#/persons" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"
						   ng-click="updateMenu('persons')"><span translate>Persons</span> <span class="caret"></span></a>
						<ul class="dropdown-menu" role="menu">
							<li><a href="#/persons/natural-persons" translate>NaturalPersons</a></li>
							<li><a href="#/persons/legal-persons" translate>LegalPersons</a></li>
						</ul>
					</li>
					<li ng-class="{'dropdown': true, 'menu-item': true, 'active': menuStates.address}">
						<a href="#/addresses" ng-click="updateMenu('address')"><span translate>Addresses</span></a>
					</li>
					<li ng-class="{'dropdown': true, 'menu-item': true, 'active': menuStates.capitalConstructs}">
						<a href="#/capital-constructs" ng-click="updateMenu('capitalConstructs')"><span translate>CapitalConstructs</span> <span
								class="caret"></span></a>
					</li>
					<li ng-class="{'dropdown': true, 'menu-item': true, 'active': menuStates.geo}">
						<a href="#/geo" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"
						   ng-click="updateMenu('geo')"><span translate>GEO</span> <span class="caret"></span></a>
						<ul class="dropdown-menu" role="menu">
							<li><a href="#/geo/map" translate>GEO.Map</a></li>
							<li><a href="#/geo/layers" translate>GEO.Map.Layers</a></li>
							<li><a href="#/geo/coordinate-systems" translate>GEO.CoordinateSystems</a></li>
							<li><a href="#/geo/geo-servers" translate>GEO.GeoServers</a></li>
						</ul>
					</li>
					<li ng-class="{'dropdown': true, 'menu-item': true, 'active': menuStates.dataExchange}">
						<a href="#/data-exchange" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"
						   ng-click="updateMenu('dataExchange')"><span translate>DataExchange</span> <span class="caret"></span></a>
						<ul class="dropdown-menu" role="menu">
							<li><a href="#/data-exchange/import" translate>DataExchange.Import</a></li>
							<li><a href="#/data-exchange/export" translate>DataExchange.Export</a></li>
							<li><a href="#/reports" translate>Reports</a></li>
						</ul>
					</li>
					<li ng-class="{'dropdown': true, 'menu-item': true, 'active': menuStates.admin}">
						<a href="#/admin" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"
						   ng-click="updateMenu('admin')"><span translate>ADMINISTRATION</span> <span class="caret"></span></a>
						<ul class="dropdown-menu" role="menu">
							<li><a href="#/admin/users" translate>ADMINISTRATION.Users</a></li>
							<li><a href="#/admin/groups" translate>ADMINISTRATION.Groups</a></li>
							<li class="divider"></li>
							<li><a href="#/admin/privileges" translate>ADMINISTRATION.Privileges</a></li>
						</ul>
					</li>
					<li ng-class="{'dropdown': true, 'menu-item': true, 'active': menuStates.about}">
						<a href="#/about/" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"
						   ng-click="updateMenu('about')"><span translate>About</span> <span class="caret"></span></a>
						<ul class="dropdown-menu" role="menu">
							<li><a href="#/about/info/" translate>About.Info</a></li>
							<li><a href="#/about/help/" translate>About.Help</a></li>
							<li><a href="#/about/release-notes/" translate>About.ReleaseNotes</a></li>
						</ul>
					</li>
				</ul>

				<ul class="nav navbar-nav navbar-right">
					<li><a href="logout" translate>Logout</a></li>
				</ul>
			</div>
		</div>
	</div>
</div>
