<breadcrumb></breadcrumb>

<div ng-repeat="section in sections" class="row mgis-grid-row">
	<div class="col-sm-8" ng-drag="true" ng-drop="true" ng-drag-data="section"
		 ng-drop-success="onSectionDropComplete($data,$event, section)">
		<a ui-sref="isogd.structure.books({sectionId:section.id})">{{section.name}}</a>

	</div>
	<div class="col-sm-4">
		<button class="btn btn-info btn-sm" ng-click="editSection(section.id)" translate>ISOGD.EditTheSection</button>
		<button class="btn btn-danger btn-sm" ng-click="removeSection(section.id)" translate>ISOGD.RemoveTheSection</button>
	</div>
</div>
<div style="float: left;">
	<button class="btn btn-info btn-sm" ng-click="addSection()" translate>ISOGD.AddASection</button>
</div>

<div ui-view></div>
