stateParams: {{stateParams}}
<div ng-repeat="section in sections">
    <a ui-sref="isogd.volumes({sectionId:section.id})">{{section.id}} {{section.name}}</a>.


    <div style="padding: 5px 15px;">
        <button class="btn btn-info btn-sm" ng-click="addVolume(section.id)">Add a New Volume</button>
        <button class="btn btn-info btn-sm" ng-click="editSection(section.id)">Edit The Section</button>
        <!--<button class="btn btn-warning btn-sm" ng-click="removeSection(section.id)"-->
        <!--confirm-click="Would you like to say hi?" confirmed-click="removeSection(section.id)">Delete The-->
        <!--Section-->
        <!--</button>-->
        <button class="btn btn-warning btn-sm" ng-click="removeSection(section.id)">Delete The Section</button>
    </div>
</div>
<p style="float: right">
    <button class="btn btn-info btn-sm" ng-click="addSection()">Add a New Section</button>
</p>

<div ui-view></div>


