<div class="modal-header">
    <h3 class="modal-title"><span translate>Lands.Land.Area</span>: {{land.area.type.name}}</h3>
</div>
<div class="modal-body">
    <form name="landAreaForm" class="" novalidate>
        <!-- Name -->
        <div class="form-group row"
             ng-class="{'has-error': landAreaForm.areaValue.$invalid && (!landAreaForm.areaValue.$pristine || landAreaForm.areaValue.$touched)}">
            <div class="col-sm-4">
                <label translate>Value</label>
            </div>

            <div class="col-sm-8">
                <input type="text" class="form-control" name="areaValue" ng-model="area.value" required/>

                <p ng-show="landAreaForm.areaValue.$invalid && (!landAreaForm.areaValue.$pristine || landAreaForm.areaValue.$touched)"
                   class="help-block" translate>Lands.Land.Area.Value.Required</p>
            </div>
        </div>

        <div class="form-group row">
            <div class="col-sm-4">
                <label translate>Lands.Land.Area.Type</label>
            </div>

            <div class="col-sm-8"
                 ng-class="{'has-error': !area.landAreaType.id}">
                <p class="input-group input-group-sm">
                    <multiselect
                            ms-header="{{'Select'|translate}}"
                            name="landAreaType"
                            ng-model="area.landAreaType"
                            options="c.name for c in availableLandAreaTypes"
                            data-multiple="false"
                            data-compare-by="id"
                            scroll-after-rows="15">
                    </multiselect>
                    <input type="hidden" ng-model="area.landAreaType.id" name="landAreaType2" required/>
                <p ng-show="!area.landAreaType.id" class="help-block" translate>Lands.Land.Area.Type.Required</p>
                </p>
            </div>
        </div>
    </form>
</div>
<div class="modal-footer">
    <button type="submit" class="btn btn-primary" ng-disabled="landAreaForm.$invalid" ng-click="ok()" translate>Submit
    </button>
    <button type="button" class="btn btn-default" ng-click="cancel()" translate>Cancel</button>
</div>
