<div class="panel panel-default">
	<div class="panel-heading">
		<h3 translate>Lands.Land.LandControl.MainInformation</h3>
	</div>
	<div class="panel-body">

		<div class="form-group row">
			<div class="col-sm-4">
				<label translate>Lands.Land.LandControl.InspectedPerson</label>
			</div>

			<div class="col-sm-8">
				<person-selector person="land.control.inspectedPerson"/>
			</div>

		</div>

		<div class="form-group row">
			<div class="col-sm-4">
				<label translate>Lands.Land.LandControl.ResponsiblePerson</label>
			</div>

			<div class="col-sm-8">
				<executive-person-selector person="land.control.executivePerson"/>
			</div>
		</div>

		<div class="form-group row">
			<div class="col-sm-4">
				<label translate>Lands.Land.LandControl.InspectionDate</label>
			</div>

			<div class="col-sm-8">
				<commons-date value="land.control.inspectionDate" name="inspectionDate"></commons-date>
			</div>
		</div>

		<div class="form-group row">
			<div class="col-sm-4">
				<label translate>Lands.Land.LandControl.InspectionType</label>
			</div>

			<div class="col-sm-8">
				<p class="input-group input-group-sm">
					<multiselect
							ng-model="land.control.inspectionType"
							options="c.name for c in availableInspectionTypes"
							data-multiple="false"
							data-compare-by="id"
							scroll-after-rows="15">
					</multiselect>
				</p>
			</div>
		</div>

		<div class="form-group row">
			<div class="col-sm-4">
				<label translate>Lands.Land.LandControl.InspectionKind</label>
			</div>

			<div class="col-sm-8">
				<p class="input-group input-group-sm">
					<multiselect
							ng-model="land.control.inspectionKind"
							options="c.name for c in availableInspectionKinds"
							data-multiple="false"
							data-compare-by="id"
							scroll-after-rows="15">
					</multiselect>
				</p>
			</div>
		</div>

		<div class="form-group row">
			<div class="col-sm-4">
				<label translate>Lands.Land.LandControl.InspectionSubject</label>
			</div>

			<div class="col-sm-8">
				<p class="input-group input-group-sm">
					<multiselect
							ng-model="land.control.inspectionSubject"
							options="c.name for c in availableInspectionSubjects"
							data-multiple="false"
							data-compare-by="id"
							scroll-after-rows="15">
					</multiselect>
				</p>
			</div>
		</div>

		<div class="form-group row">
			<div class="col-sm-4">
				<label translate>Lands.Land.LandControl.InspectionReasonDescription</label>
			</div>

			<div class="col-sm-8">
				<input type="text" class="form-control" name="inspectionReasonDescription"
					   ng-model="land.control.inspectionReasonDescription"/>
			</div>
		</div>

	</div>
</div>

<div class="panel panel-default">
	<div class="panel-heading">
		<h3 translate>Lands.Land.LandControl.CheckResults</h3>
	</div>
	<div class="panel-body">

		<div class="form-group row">
			<div class="col-sm-4">
				<label translate>Lands.Land.LandControl.PresenceOfViolations</label>
			</div>

			<div class="col-sm-8">
				<p class="input-group input-group-sm">
					<multiselect
							ng-model="land.control.inspectionResultAvailabilityOfViolations"
							options="c.name for c in availableAvailabilityOfViolations"
							data-multiple="false"
							data-compare-by="id"
							scroll-after-rows="15">
					</multiselect>
				</p>
			</div>
		</div>

		<div class="form-group row">
			<div class="col-sm-4">
				<label translate>Lands.Land.LandControl.InspectionResultDescription</label>
			</div>

			<div class="col-sm-8">
				<input type="text" class="form-control" name="inspectionResultDescription"
					   ng-model="land.control.inspectionResultDescription"/>
			</div>
		</div>

		<div class="form-group row">
			<div class="col-sm-4">
				<label translate>Lands.Land.LandControl.TilmelineForViolations</label>
			</div>

			<div class="col-sm-8">
				<commons-date value="land.control.timelineForViolations" name="timelineForViolations"></commons-date>
			</div>
		</div>

		<div class="form-group row">
			<div class="col-sm-4">
				<label translate>Lands.Land.LandControl.PenaltyAmount</label>
			</div>

			<div class="col-sm-8">
				<input type="text" class="form-control" name="penaltyAmount" ng-model="land.control.penaltyAmount"/>
			</div>
		</div>

		<div class="form-group row">
			<div class="col-sm-4">
				<label translate>Lands.Land.LandControl.InspectionResultDocuments</label>
			</div>
			<div class="col-sm-8">
				<isogd-document-selector documents="land.control.inspectionResultDocuments" multiple-documents="true"/>
			</div>
		</div>

	</div>
</div>
