<div class="modal-header">
	<h3 class="modal-title"><span translate>Lands.Land</span>: {{land.cadastralNumber}}</h3>
</div>
<div class="modal-body">

	<form name="landForm" class="" novalidate>
		<tabset>

			<tab>
				<tab-heading>
					<span translate>GeneralInfo</span>
				</tab-heading>
				<div ng-include src="'app2/lands/land/land-form-general.htm'"></div>
			</tab>
			<tab>
				<tab-heading>
					<span translate>Lands.Land.Rights</span>
				</tab-heading>
				<div ng-include src="'app2/lands/land/land-form-rights.htm'"></div>
			</tab>
			<tab>
				<tab-heading>
					<span translate>Lands.Land.Characteristics</span>
				</tab-heading>
				<div ng-include src="'app2/lands/land/land-form-characteristics.htm'"></div>
			</tab>
			<tab>
				<tab-heading>
					<span translate>Lands.Land.IncludedObjects</span>
				</tab-heading>
				<div ng-include src="'app2/lands/land/land-form-included-objects.htm'"></div>
			</tab>
			<tab>
				<tab-heading>
					<span translate>Lands.Land.Works</span>
				</tab-heading>
				<div ng-include src="'app2/lands/land/land-form-works.htm'"></div>
			</tab>
			<tab>
				<tab-heading>
					<span translate>Lands.Land.LandControl</span>
				</tab-heading>
				<div ng-include src="'app2/lands/land/land-form-land-control.htm'"></div>
			</tab>
			<tab select="landMapSelected=true" deselect="landMapSelected=false">
				<tab-heading>
					<span translate>Lands.Land.Map</span>
				</tab-heading>
				<div ng-if="landMapSelected" ng-include src="'app2/lands/land/land-form-map.htm'"></div>
			</tab>
		</tabset>
	</form>


</div>

<div class="modal-footer">
	<button type="submit" class="btn btn-primary" ng-disabled="landForm.$invalid" ng-click="ok()" translate>Submit</button>
	<button type="button" class="btn btn-default" ng-click="cancel()" translate>Cancel</button>
</div>
