<div ng-controller="LandsMapsController">
	<style>
		#lands-map {
			height: 100%;
			width: 100%;
		}
	</style>
	<form name="landSearchForm" class="form-horizontal pull-right" style="position: relative; top: -60px; height: 0px;">
		<div class="control-group">
			<label for="cadastralNumber" translate>CadastralNumber</label>

			<div class="controls form-inline">
				<input type="text" id="cadastralNumber" name="cadastralNumber" ng-model="cadastralNumber" class="form-control"/>
				<button class="btn btn-primary btn-sm" ng-click="find()" translate>Find</button>
				<button class="btn btn-primary btn-sm" ng-click="displayAsAList()" translate>Lands.Land.DisplayAsAList</button>
			</div>
		</div>
	</form>


	<div style="height: 70%;">
		<div id="lands-map"></div>
	</div>

</div>
