<div ng-controller="LandsLandController">
	<div class="container">
		<form name="landSearchForm" class="form-horizontal pull-right"
			  style="position: relative; top: -60px; height: 0px;">
			<div class="control-group">
				<label for="cadastralNumber" translate>CadastralNumber</label>

				<div class="controls form-inline">
					<input type="text" id="cadastralNumber" name="cadastralNumber" ng-model="cadastralNumber"
						   class="form-control"/>
					<button class="btn btn-primary btn-sm" ng-click="find()" translate>Find</button>
					<button class="btn btn-primary btn-sm" ng-click="displayOnTheMap()" translate>
						Lands.Land.DisplayOnTheMap
					</button>
				</div>
			</div>
		</form>
	</div>

	<div>
		<div class="row mgis-row-header">
			<div class="col-sm-2" translate>CadastralNumber</div>
			<div class="col-sm-3" translate>Address</div>
			<div class="col-sm-1" translate>Lands.Land.Rights.TotalArea</div>
			<div class="col-sm-2" translate>Lands.Land.Rights.RightsSubject</div>
			<div class="col-sm-4">
			</div>
		</div>

		<div ng-repeat="item in landsPager.list"
			 ng-class="selectedIds[item.id].checked?'mgis-row-selected mgis-grid-row row':'mgis-grid-row row'">
			<div class="col-sm-2">
				<input type="checkbox" ng-model="selectedIds[item.id].checked"
					   ng-click="checkLandSelected(selectedIds[item.id].checked,item)" ng-true-value="true"
					   ng-false-value="false"/>
				<a href="javascript:void(0)" ng-click="editItem(item.id)">{{item.cadastralNumber}}</a>
				<span class="glyphicon glyphicon-map-marker" ng-if="item.spatialData|spatialDataExistsFilter"></span>
			</div>
			<div class="col-sm-3">{{item.address|addressFormatter}}</div>
			<div class="col-sm-1">{{item.rights.totalArea}}</div>
			<div class="col-sm-2">{{item.rights.rightOwner|personFormatter}}</div>
			<div class="col-sm-4">
				<button class="btn btn-info btn-sm" ng-click="editItem(item.id)" translate>Edit</button>
				<button class="btn btn-danger btn-sm" ng-click="deleteItem(item.id)" translate>Delete</button>
			</div>
		</div>
	</div>

	<div>
		<div>
			<pagination total-items="landsPager.totalNumberOfItems" ng-model="currentPage"
						items-per-page="itemsPerPage" ng-change="pageChanged()"
						class="pagination-sm" previous-text="&lsaquo;"
						next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;"
						max-size="pagerMaxSize"
					></pagination>
			<label class="mgis-pagination-total-label">{{'Total'|translate}} :
				{{landsPager.totalNumberOfItems}}</label>
		</div>
	</div>

	<div>
		<button class="btn btn-info btn-sm" ng-click="addItem()" translate>Add</button>
		<button class="btn btn-warning btn-sm" ng-click="selectAll()" translate>Select.All</button>
		<span ng-if="isNotEmpty(selectedIds)">
			<button class="btn btn-warning btn-sm" ng-click="deselectAll()" translate>
				Select.DeselectAll
			</button>
			<button class="btn btn-danger btn-sm" ng-click="deleteSelectedItems()" translate>
				Delete.Selected
			</button>
		</span>
	</div>
</div>
