<div class="panel panel-default">
	<div class="panel-heading">
		<h3 translate>Lands.Land.CadastralInformation</h3>
	</div>
	<div class="panel-body">
		<!-- CadastralNumber -->
		<div class="form-group row"
			 ng-class="{'has-error': landForm.cadastralNumber.$invalid && (!landForm.cadastralNumber.$pristine || landForm.cadastralNumber.$touched)}">
			<div class="col-sm-4">
				<label translate>CadastralNumber</label>
			</div>

			<div class="col-sm-8">
				<input type="text" class="form-control" name="cadastralNumber" ng-model="land.cadastralNumber" required/>

				<p ng-show="landForm.cadastralNumber.$invalid && (!landForm.cadastralNumber.$pristine || landForm.cadastralNumber.$touched)"
				   class="help-block" translate>
					CadastralNumber.Required</p>
			</div>
		</div>

		<div class="form-group row">
			<div class="col-sm-4">
				<label translate>Lands.LandCategory</label>
			</div>

			<div class="col-sm-8">
				<p class="input-group input-group-sm">
					<multiselect
							ng-model="land.landCategory"
							options="c.name for c in availableLandCategories"
							data-multiple="false"
							data-compare-by="id"
							scroll-after-rows="15"
							ms-header="{{'Select'|translate}}">
					</multiselect>
				</p>

				<!--<p ng-show="!land.landCategory.id" class="help-block" translate>Required</p>-->
			</div>
		</div>

		<div class="form-group row">
			<div class="col-sm-4">
				<label translate>Lands.Land.StateRealEstateCadastralStaging</label>
			</div>

			<div class="col-sm-8">
				<p class="input-group" ng-controller="MGISDateTimeController">
                <span class="input-group-btn mgis-input-group-date">
                    <input
							type="text"
							class="form-control"
							name="docDate"
							datepicker-popup="{{format}}"
							ng-model="land.stateRealEstateCadastreaStaging"
							is-open="opened"
							datepicker-options="dateOptions"
							date-disabled="disabled(date, mode)"
							close-text="{{Close|translate}}"
							ng-click="open($event)"
							/>
                    <button class="btn btn-default " ng-click="open($event)"><i class="glyphicon glyphicon-calendar"></i>
					</button>
                </span>
				</p>
			</div>
		</div>
	</div>
</div>


<div class="panel panel-default" ng-controller="LandsLandAreaController">
	<div class="panel-heading">
		<h3 translate>Lands.Land.Areas</h3>
	</div>
	<div class="panel-body">
		<div class="form-group row">
			<div class="col-sm-12">
				<div class="row" ng-repeat="area in areas track by $index" style="padding: 5px;">
					<div class="col-sm-4">{{area.landAreaType.name}}</div>
					<div class="col-sm-2">{{area.value}}</div>
					<div class="col-sm-6">
						<button class="btn btn-info btn-sm" ng-click="editLandArea(area)" translate>Edit</button>
						<button class="btn btn-danger btn-sm" ng-click="removeLandArea(area)" translate>Delete</button>
					</div>
				</div>
			</div>

			<div class="col-sm-4">
			</div>
			<div class="col-sm-8">
				<div class="form-group form-group-sm">
					<button class="btn btn-info btn-sm" ng-click="addLandArea()" translate>Add</button>
				</div>
			</div>
		</div>
	</div>
</div>

<div class="panel panel-default">
	<div class="panel-heading">
		<h3 translate>Lands.Land.AllowedUsage</h3>
	</div>
	<div class="panel-body">

		<div class="form-group row">
			<div class="col-sm-4">
				<label translate>Lands.Land.AllowedUsage.ByDictionary</label>
			</div>

			<div class="col-sm-8">
				<p class="input-group input-group-sm">
					<multiselect
							ng-model="land.allowedUsageByDictionary"
							options="(c.name + (c.parent?' ('+c.parent.name+')' + (c.parent.parent?' ('+c.parent.parent.name+')':'') : '')) for c in availableLandsAllowedUsage"
							data-multiple="false"
							data-compare-by="id"
							scroll-after-rows="15">
					</multiselect>
				</p>
			</div>
		</div>
		<div class="form-group row">
			<div class="col-sm-4">
				<label translate>Lands.Land.AllowedUsage.ByDocument</label>
			</div>
			<div class="col-sm-8">
				<input type="text" class="form-control" name="allowedUsageByDocument" ng-model="land.allowedUsageByDocument"/>
			</div>
		</div>
		<div class="form-group row">
			<div class="col-sm-4">
				<label translate>TerritorialZones.Zone</label>
			</div>
			<div class="col-sm-8">
				<p class="input-group input-group-sm">

					<ui-select ng-model="land.allowedUsageByTerritorialZone" theme="select2" style="width: 450px;">
						<ui-select-match placeholder="">{{land.allowedUsageByTerritorialZone.name}}</ui-select-match>
						<ui-select-choices repeat="terrZone in availableAllowedUsageByTerritorialZones | filter: {name: $select.search}"
										   refresh="refreshAvailableAllowedUsageByTerritorialZones($select.search)"
										   refresh-delay="0">
							{{terrZone.name}}
							<div ng-bind-html="terrZone.name"></div>
						</ui-select-choices>
					</ui-select>

				</p>
			</div>
		</div>

	</div>
</div>


<div class="panel panel-default">
	<div class="panel-heading">
		<h3 translate>Lands.Land.Address</h3>
	</div>
	<div class="panel-body">

		<div class="form-group row">
			<div class="col-sm-4">
				<label translate>MunicipalEntity</label>
			</div>
			<div class="col-sm-8">
				<p class="input-group input-group-sm">

					<ui-select ng-model="land.addressOfMunicipalEntity" theme="select2" style="width: 450px;">
						<ui-select-match placeholder="">{{land.addressOfMunicipalEntity.name}}</ui-select-match>
						<ui-select-choices repeat="terrZone in availableAddressMunicipalEntities | filter: {name: $select.search}"
										   refresh="refreshAvailableMunicipalEntities($select.search)"
										   refresh-delay="0">
							{{terrZone.name}}
							<div ng-bind-html="terrZone.name"></div>
						</ui-select-choices>
					</ui-select>

				</p>
			</div>
		</div>
		<div class="form-group row">
			<div class="col-sm-4">
				<label translate>Lands.Land.Placement</label>
			</div>
			<div class="col-sm-8">
				<input type="text" class="form-control" name="addressPlacement" ng-model="land.addressPlacement"/>
			</div>
		</div>
		<div class="form-group row">
			<div class="col-sm-4">
				<label translate>Lands.Land.Address</label>
			</div>

			<div class="col-sm-8">
				<address-selector address="land.address"></address-selector>
			</div>
		</div>
	</div>
</div>
