<div class="panel panel-default">
	<div class="panel-heading">
		<h3 translate>Lands.Land.LandControl.MainInformation</h3>
	</div>
	<div class="panel-body">

		<div class="form-group row">
			<div class="col-sm-4">
				<label translate>Lands.Land.LandControl.InspectedPerson</label>
			</div>

			<div class="col-sm-8">
				<p class="input-group input-group-sm">
					<multiselect
							ng-model="land.control.inspectedPerson"
							options="c.name for c in availableInspectedPersons"
							data-multiple="false"
							data-compare-by="id"
							scroll-after-rows="15">
					</multiselect>
				</p>
			</div>
		</div>

		<div class="form-group row">
			<div class="col-sm-4">
				<label translate>Lands.Land.LandControl.ResponsiblePerson</label>
			</div>

			<div class="col-sm-8">
				<p class="input-group input-group-sm">
					<multiselect
							ng-model="land.control.executivePerson"
							options="(c.fullName+' ('+c.position+')') for c in availableExecutivePersons"
							data-multiple="false"
							data-compare-by="id"
							scroll-after-rows="15">
					</multiselect>
				</p>
			</div>
		</div>

		<div class="form-group row">
			<div class="col-sm-4">
				<label translate>Lands.Land.LandControl.InspectionDate</label>
			</div>

			<div class="col-sm-8">
                <commons-date value="land.control.inspectionDate" name="docDate" required="true"></commons-date>
			</div>
		</div>

		<div class="form-group row">
			<div class="col-sm-4">
				<label translate>Lands.Land.LandControl.InspectionType</label>
			</div>

			<div class="col-sm-8">
				<p class="input-group input-group-sm">
					<multiselect
							ng-model="land.control.inspectionType"
							options="c.name for c in availableInspectionTypes"
							data-multiple="false"
							data-compare-by="id"
							scroll-after-rows="15">
					</multiselect>
				</p>
			</div>
		</div>

		<div class="form-group row">
			<div class="col-sm-4">
				<label translate>Lands.Land.LandControl.InspectionKind</label>
			</div>

			<div class="col-sm-8">
				<p class="input-group input-group-sm">
					<multiselect
							ng-model="land.control.inspectionKind"
							options="c.name for c in availableInspectionKinds"
							data-multiple="false"
							data-compare-by="id"
							scroll-after-rows="15">
					</multiselect>
				</p>
			</div>
		</div>

		<div class="form-group row">
			<div class="col-sm-4">
				<label translate>Lands.Land.LandControl.InspectionSubject</label>
			</div>

			<div class="col-sm-8">
				<p class="input-group input-group-sm">
					<multiselect
							ng-model="land.control.inspectionSubject"
							options="c.name for c in availableInspectionSubjects"
							data-multiple="false"
							data-compare-by="id"
							scroll-after-rows="15">
					</multiselect>
				</p>
			</div>
		</div>

		<div class="form-group row">
			<div class="col-sm-4">
				<label translate>Lands.Land.LandControl.InspectionReasonDescription</label>
			</div>

			<div class="col-sm-8">
				<input type="text" class="form-control" name="inspectionReasonDescription" ng-model="land.control.inspectionReasonDescription"/>
			</div>
		</div>

	</div>
</div>

<div class="panel panel-default">
	<div class="panel-heading">
		<h3 translate>Lands.Land.LandControl.CheckResults</h3>
	</div>
	<div class="panel-body">

		<div class="form-group row">
			<div class="col-sm-4">
				<label translate>Lands.Land.LandControl.PresenceOfViolations</label>
			</div>

			<div class="col-sm-8">
				<p class="input-group input-group-sm">
					<multiselect
							ng-model="land.control.inspectionResultAvailabilityOfViolations"
							options="c.name for c in availableAvailabilityOfViolations"
							data-multiple="false"
							data-compare-by="id"
							scroll-after-rows="15">
					</multiselect>
				</p>
			</div>
		</div>

		<div class="form-group row">
			<div class="col-sm-4">
				<label translate>Lands.Land.LandControl.InspectionResultDescription</label>
			</div>

			<div class="col-sm-8">
				<input type="text" class="form-control" name="inspectionResultDescription" ng-model="land.control.inspectionResultDescription"/>
			</div>
		</div>

		<div class="form-group row">
			<div class="col-sm-4">
				<label translate>Lands.Land.LandControl.TilmelineForViolations</label>
			</div>

			<div class="col-sm-8">
                <commons-date value="land.control.timelineForViolations" name="docDate" required="true"></commons-date>
			</div>
		</div>

		<div class="form-group row">
			<div class="col-sm-4">
				<label translate>Lands.Land.LandControl.PenaltyAmount</label>
			</div>

			<div class="col-sm-8">
				<input type="text" class="form-control" name="penaltyAmount" ng-model="land.control.penaltyAmount"/>
			</div>
		</div>

		<div class="form-group row">
			<div class="col-sm-4">
				<label translate>Lands.Land.LandControl.InspectionResultDocuments</label>
			</div>
			<div class="col-sm-8">
				<div class="row" ng-repeat="doc in land.control.inspectionResultDocuments">
					<div class="col-md-8">
						Lands.Land.LandControl.InspectionResultDocument
					</div>
					<div class="col-md-4">
					</div>
				</div>
				<div class="row" ng-repeat="doc in land.control.inspectionResultDocuments">
					<div class="col-md-8">
						{{doc.type.name}}
					</div>
					<div class="col-md-4">
						<button class="btn btn-info btn-sm" translate>Change</button>
						<button class="btn btn-danger btn-sm" translate>Remove</button>
					</div>
				</div>
				<button class="btn btn-info btn-sm" translate>Add</button>
			</div>
		</div>

	</div>
</div>
