<div class="modal-header">
	<h3 class="modal-title"><span translate>GEO.Spatial.Coordinate</span>: {{item.code}}</h3>
</div>

<div class="modal-body">

	<form name="editForm" novalidate>
		<div class="form-group row"
			 ng-class="{'has-error': editForm.position.$invalid && (!editForm.position.$pristine || editForm.position.$touched)}">
			<div class="col-sm-4"><label translate>SortOrder</label></div>
			<div class="col-sm-8">
				<input type="text" name="position" class="form-control" ng-model="item.position" required/>

				<p ng-show="editForm.position.$invalid && (!editForm.position.$pristine || editForm.position.$touched)" class="help-block" translate>
					SortOrder.Required</p>
			</div>
		</div>

		<div class="form-group row" ng-class="{'has-error': editForm.x.$invalid && (!editForm.x.$pristine || editForm.x.$touched)}">
			<div class="col-sm-4"><label translate>GEO.Spatial.Coordinate.X</label></div>
			<div class="col-sm-8">
				<input type="text" name="x" class="form-control" ng-model="item.x" required/>

				<p ng-show="editForm.x.$invalid && (!editForm.x.$pristine || editForm.x.$touched)" class="help-block" translate>
					GEO.Spatial.Coordinate.X.Required</p>
			</div>
		</div>
		<div class="form-group row" ng-class="{'has-error': editForm.y.$invalid && (!editForm.y.$pristine || editForm.y.$touched)}">
			<div class="col-sm-4"><label translate>GEO.Spatial.Coordinate.Y</label></div>
			<div class="col-sm-8">
				<input type="text" name="y" class="form-control" ng-model="item.y" required/>

				<p ng-show="editForm.position.$invalid && (!editForm.y.$pristine || editForm.y.$touched)" class="help-block" translate>
					GEO.Spatial.Coordinate.Y.Required</p>
			</div>
		</div>

	</form>

</div>

<div class="modal-footer">
	<button type="submit" class="btn btn-primary" ng-disabled="editForm.$invalid" ng-click="ok()" translate>Submit</button>
	<button type="button" class="btn btn-default" ng-click="cancel()" translate>Cancel</button>
</div>
