<h4 translate>ISOGD.Classifiers.Documents.Structure</h4>

<ul ng-controller="ISOGDClassifiersDocumentsStructureController" class="treeview">
    <li ng-repeat="docClass in docClasses" class="list-group-item">
        <table>
            <tr>
                <td><strong>{{docClass.code}}</strong></td>
                <td>{{docClass.name}}</td>
                <td translate>{{docClass.hasCommonPart}}</td>
                <td translate>{{docClass.hasSpecialPart}}</td>
                <td>
                    <button class="btn btn-info btn-sm" ng-click="editClass(docClass.id)" translate>ISOGD.Classifiers.Documents.Class.Edit</button>
                    <button class="btn btn-danger btn-sm" ng-click="removeClass(docClass.id)" translate>ISOGD.Classifiers.Documents.Class.Remove
                    </button>
                    <button class="btn btn-info btn-sm" ng-click="addObject(docClass.id)" translate>ISOGD.Classifiers.Documents.Object.Add</button>
                </td>
            </tr>
        </table>

        <ul class="treeview">
            <li ng-repeat="docObject in docClass.documentObjects" class="list-group-item">
                <table>
                    <tr>
                        <td><strong>{{docObject.code}}</strong></td>
                        <td>{{docObject.name}}</td>
                        <td>
                            <button class="btn btn-info btn-sm" ng-click="editObject(docObject.id)" translate>
                                ISOGD.Classifiers.Documents.Object.Edit
                            </button>
                            <button class="btn btn-danger btn-sm" ng-click="removeObject(docObject.id)" translate>
                                ISOGD.Classifiers.Documents.Object.Remove
                            </button>
                            <button class="btn btn-info btn-sm" ng-click="addSubObject(docObject.id)" translate>
                                ISOGD.Classifiers.Documents.SubObject.Add
                            </button>
                        </td>
                    </tr>
                </table>

                <ul ng-controller="ISOGDDocumentsClassifiersDocumentsSubObjectsController" class="treeview">
                    <li class="list-group-item">
                        <table>
                            <tr ng-repeat="docSubObject in documentSubObjects">
                                <td><strong>{{docSubObject.code}}</strong></td>
                                <td>{{docSubObject.name}}</td>
                                <td>
                                    <button class="btn btn-info btn-sm" ng-click="editSubObject(docSubObject.id)" translate>
                                        ISOGD.Classifiers.Documents.SubObject.Edit
                                    </button>
                                    <button class="btn btn-danger btn-sm" ng-click="removeSubObject(docSubObject.id)" translate>
                                        ISOGD.Classifiers.Documents.SubObject.Remove
                                    </button>
                                </td>

                            </tr>
                        </table>
                    </li>
                </ul>

            </li>
        </ul>

    </li>
    <div style="padding-top: 15px;">
        <button class="btn btn-info btn-sm" ng-click="addClass()" translate>ISOGD.Classifiers.Documents.Class.Add</button>
    </div>

</ul>
