<div class="modal-header">
	<h3 class="modal-title"><span translate>CapitalConstructs.Construct.Characteristics.EconomicCharacteristics</span>: {{construct.cadastralNumber}}
	</h3>
</div>
<div class="modal-body">
	<form name="characteristicsForm" class="" novalidate>
		<div class="form-group row">
			<div class="col-sm-4">
				<label translate>Indicators.PriceIndicator</label>
			</div>
			<div class="col-sm-8">
				<p class="input-group input-group-sm">
					<price-indicator value="item.priceIndicator"></price-indicator>
				</p>
			</div>
		</div>
		<commons-forms-text title="Value" property="item.value"></commons-forms-text>
		<commons-forms-date title="CapitalConstructs.Construct.Characteristics.ValueImplementationDate"
							property="item.valueImplementationDate"></commons-forms-date>
		<commons-forms-drop-down-ajax title="NationalClassifiers.OKOF" property="item.okof"
									  available-elements="availableOKOFs"
									  available-elements-loader="refreshAvailableOKOFs(name)"></commons-forms-drop-down-ajax>
		<div class="form-group row">
			<div class="col-sm-4">
				<label translate>CapitalConstructs.Construct.Characteristics.AmortizationGroup</label>
			</div>

			<div class="col-sm-8">
				<p class="input-group input-group-sm">
					<multiselect
							ng-model="item.amortizationGroup"
							options="c for c in availableAmortizationGroups"
							data-multiple="false"
							scroll-after-rows="15">
					</multiselect>
				</p>
			</div>
		</div>
	</form>
</div>
</div>

<div class="modal-footer">
	<button type="submit" class="btn btn-primary" ng-disabled="characteristicsForm.$invalid" ng-click="ok()" translate>Submit</button>
	<button type="button" class="btn btn-default" ng-click="cancel()" translate>Cancel</button>
</div>
