<div class="modal-header">
	<h3 class="modal-title"><span translate>CapitalConstructs.Construct.Characteristics.TechnicalCharacteristics</span>: {{construct.cadastralNumber}}
	</h3>
</div>
<div class="modal-body">
	<form name="characteristicsForm" class="" novalidate>
		<commons-forms-drop-down title="CapitalConstructs.Construct.Type" property="item.constructType"
								 available-elements="availableConstructTypes" form="characteristicsForm"
								 name="constructType"></commons-forms-drop-down>
		<div class="form-group row">
			<div class="col-sm-4">
				<label translate>Indicators.TechnicalIndicator</label>
			</div>
			<div class="col-sm-8">
				<p class="input-group input-group-sm">
					<technical-indicator value="item.technicalIndicator"></technical-indicator>
				</p>
			</div>
		</div>
		<commons-forms-text title="Value" property="item.value"></commons-forms-text>
	</form>
</div>
</div>

<div class="modal-footer">
	<button type="submit" class="btn btn-primary" ng-disabled="characteristicsForm.$invalid" ng-click="ok()" translate>Submit</button>
	<button type="button" class="btn btn-default" ng-click="cancel()" translate>Cancel</button>
</div>
