<h4 translate>ADMINISTRATION.Privileges</h4>

<div ng-controller="AdminPrivilegesController">
    <div ng-repeat="privilege in privileges" class="" style="padding-bottom: 41px">
        <div class="col-sm-1">{{privilege.id}}</div>
        <div class="col-sm-3">{{privilege.name}}</div>
        <div class="col-sm-4">{{privilege.roles}}</div>
        <div class="col-sm-4">
            <button class="btn btn-disabled btn-sm" ng-click="edit()" translate>Edit</button>
            <button class="btn x-btn-disabled btn-sm" ng-click="remove()" translate>Remove</button>
        </div>
    </div>
    <button class="btn btn-disabled btn-sm" ng-click="add()" translate>Add</button>
</div>
