<div>
	<div class="modal-header">
		<h3 class="modal-title"><span translate>ExecutivePerson.Edit</span>: {{item.surname + " " + item.firstName + " "
			+
			item.patronymic}}</h3>
	</div>
	<div class="modal-body">
		<form name="executivePersonForm">

			<div class="panel panel-default">

				<div class="panel-heading" translate>ExecutivePerson.MainInformation</div>

				<div class="panel-body">

					<commons-forms-text form="executivePersonForm" name="surname" property="item.surname"
										title="Surname" required="true"
							></commons-forms-text>

					<commons-forms-text form="executivePersonForm" name="firstName" property="item.firstName"
										title="FirstName" required="true"
							></commons-forms-text>

					<commons-forms-text form="executivePersonForm" name="patronymic" property="item.patronymic"
										title="Patronymic"
							></commons-forms-text>

					<commons-forms-text form="executivePersonForm" name="position" property="item.position"
										title="ExecutivePerson.Position" required="true"
							></commons-forms-text>

				</div>
			</div>

		</form>
	</div>
</div>
<div class="modal-footer">
	<button type="submit" class="btn btn-primary" ng-disabled="executivePersonForm.$invalid" ng-click="ok()" translate>
		Submit
	</button>
	<button type="button" class="btn btn-default" ng-click="cancel()" translate>Cancel</button>
</div>
