<div>
	<div class="modal-header">
		<h3 class="modal-title"><span translate>LegalPerson</span>: {{item.name}}</h3>
	</div>
	<div class="modal-body">
		<form name="legalPersonForm">
			<div class="form-group row"
				 ng-class="{'has-error': legalPersonForm.name.$invalid && (!legalPersonForm.name.$pristine || legalPersonForm.name.$touched)}">
				<div class="col-sm-4">
					<label translate>Person.Name</label>
				</div>

				<div class="col-sm-8">
					<input type="text" class="form-control" name="name" ng-model="item.name" required/>

					<p ng-show="legalPersonForm.name.$invalid && (!legalPersonForm.name.$pristine || legalPersonForm.name.$touched)"
					   class="help-block" translate>
						Person.Name</p>
				</div>
			</div>
		</form>
	</div>
</div>
<div class="modal-footer">
	<button type="submit" class="btn btn-primary" ng-disabled="LegalPersonForm.$invalid" ng-click="ok()" translate>Submit</button>
	<button type="button" class="btn btn-default" ng-click="cancel()" translate>Cancel</button>
</div>
