<div class="modal-header">
	<h3 class="modal-title">
		<span translate>ISOGD.Volume</span>: {{volume.name}}
	</h3>
</div>
<div class="modal-body">
	<div class="container">
		<div class="row">
			<div class="col-sm-6">
				<form name="volumeForm" ng-submit="saveVolume()" novalidate>

					<!-- NAME -->
					<commons-forms-text form="volumeForm" name="name" property="volume.name" title="ISOGD.Name"
										validation-message="ISOGD.NameRequired" required="true"></commons-forms-text>

					<commons-forms-text form="volumeForm" name="sortOrder" property="volume.sortOrder" title="SortOrder"
										pattern="NUMBER_PATTERN"></commons-forms-text>

				</form>
			</div>
		</div>
	</div>
</div>
<div class="modal-footer">
	<button type="submit" class="btn btn-primary" ng-disabled="volumeForm.$invalid" ng-click="ok()" translate>Submit</button>
	<button type="button" class="btn btn-default" ng-click="cancel()" translate>Cancel</button>
</div>
