volumes: stateParams: {{stateParams}}
<div ng-repeat="volume in volumes">
	<a ui-sref="isogd.books({sectionId: stateParams.sectionId, volumeId:volume.id})">{{volume.id}} {{volume.name}}</a>

	<div style="padding: 5px 15px;">
		<button class="btn btn-info btn-sm" ng-click="editVolume(stateParams.sectionId, volume.id)" translate>ISOGD.EditTheVolume</button>
		<button class="btn btn-warning btn-sm" ng-click="removeVolume(volume.id)" translate>ISOGD.RemoveTheVolume</button>
	</div>
</div>
<p style="float: right">
	<button class="btn btn-info btn-sm" ng-click="addVolume(stateParams.sectionId)" translate>ISOGD.AddAVolume</button>
</p>


<div ui-view></div>

