<div class="modal-header">
	<h3 class="modal-title"><span translate>Lands</span></h3>
</div>
<div class="modal-body">

	<div ng-controller="LandsLandSelectorController">
		<ul class="list-group">
			<li class="list-group-item mgis-document-selector-list-item" ng-repeat="item in selectedItems">
				<div class="row mgis-grid-row">
					<div class="col-sm-2"><a href="javascript:void(0)" ng-click="editItem(item.id)">{{item.cadastralNumber}}</a>
					</div>
					<div class="col-sm-4">{{item.address|addressFormatter}}</div>
					<div class="col-sm-2">{{item.rights.totalArea}}</div>
					<div class="col-sm-4">
						<button class="btn btn-warning btn-sm" ng-click="editItem(item.id)" translate>Edit</button>
						<button class="btn btn-danger btn-sm" ng-click="deselect(item.id)" translate>Deselect</button>
					</div>
				</div>
			</li>
		</ul>

		<form name="landSelectionForm" class="" novalidate>
			<div class="panel-body">
				<div class="control-group">
					<label for="cadastralNumber" translate>CadastralNumber</label>

					<div class="controls form-inline">
						<input type="text" id="cadastralNumber" name="cadastralNumber" ng-model="cadastralNumber"
							   class="form-control"/>
						<button class="btn btn-sm btn-primary" ng-click="find(cadastralNumber)" translate>Find</button>
						<button class="btn btn-sm btn-info" ng-click="addItem()" translate>Add</button>
					</div>
				</div>
			</div>
		</form>

		<div class="row mgis-row-header">
			<div class="col-sm-2" translate>CadastralNumber</div>
			<div class="col-sm-3" translate>Address</div>
			<div class="col-sm-1" translate>Lands.Land.Rights.TotalArea</div>
			<div class="col-sm-2" translate>Lands.Land.Rights.RightsSubject</div>
			<div class="col-sm-4">
			</div>
		</div>

		<div ng-repeat="item in landsSelectorPager.list" class="row">
			<div class="col-sm-2">
				{{item.cadastralNumber}}
				<span class="glyphicon glyphicon-map-marker" ng-if="item.spatialData|spatialDataExistsFilter"></span>
			</div>
			<div class="col-sm-3">{{item.address|addressFormatter}}</div>
			<div class="col-sm-1">{{item.rights.totalArea}}</div>
			<div class="col-sm-2">{{item.rights.rightOwner|personFormatter}}</div>
			<div class="col-sm-4">
				<button class="btn btn-info btn-sm" ng-click="selectItem(item)" translate>Select</button>
				<button class="btn btn-warning btn-sm" ng-click="editItem(item.id)" translate>Edit</button>
				<button class="btn btn-danger btn-sm" ng-click="removeItem(item.id)" translate>Delete</button>
			</div>
		</div>

		<div>
			<pagination total-items="landsSelectorPager.totalNumberOfItems" ng-model="currentPage"
						items-per-page="itemsPerPage" ng-change="pageChanged()"
						class="pagination-sm" previous-text="&lsaquo;"
						next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;"
						max-size="pagerMaxSize"
					></pagination>
			<label class="mgis-pagination-total-label">{{'Total'|translate}} :
				{{landsPager.totalNumberOfItems}}</label>
		</div>
	</div>

</div>

<div class="modal-footer">
	<button type="submit" class="btn btn-primary" ng-disabled="landSelectionForm.$invalid" ng-click="ok()" translate>
		Submit
	</button>
	<button type="button" class="btn btn-default" ng-click="cancel()" translate>Cancel</button>
</div>
