<div>
	<div class="form-group row">
		<div class="col-sm-12">
			<div class="row mgis-row-header">
				<div class="col-sm-2" translate>CadastralNumber</div>
				<div class="col-sm-4" translate>Address</div>
				<div class="col-sm-2" translate>Lands.Land.Area</div>
				<div class="col-sm-4"></div>
			</div>
			<div class="row mgis-grid-row" ng-repeat="item in lands">
				<div class="col-sm-2"><a href="javascript:void(0)" ng-click="editItem(item.id)">{{item.cadastralNumber}}</a></div>
				<div class="col-sm-4">{{item.address|addressFormatter}}</div>
				<div class="col-sm-2">{{item.rights.totalArea}}</div>
				<div class="col-sm-4">
					<button class="btn btn-danger btn-sm" ng-click="deselect(item.id)" translate>Deselect</button>
					<button class="btn btn-warning btn-sm" ng-click="editItem(item.id)" translate>Edit</button>
				</div>
			</div>
		</div>
	</div>

	<button class="btn btn-sm btn-info" ng-click="select()">{{'Select'|translate}}</button>
</div>
